body {
    font-family: Arial;
    font-size: 12px;
}

#learn {
    background-color: blue;
    min-width: 10%;
    min-height: 10%;
}

#mentor {
    background-color: green;
    min-height: 10%;
    min-width: 10%;
}

#forgetit {
    background-color: red;
    min-height: 10%;
    min-width: 10%;
}

#inapinch {
    background-color: yellow;
    min-width: 10%;
    min-height: 10%;
}

#talents {
    width: 50%;
    position: relative;
    float: left;
}

#matrix {
    width: 50%;
    position: relative;
    float: left;
    min-height: 400px;
}

.grid-row {
    width: 100%;
}

.grid-box {
    position: relative;
    float: left;
    width: 45%;
    height: 200px;
}

.talent {
    position: relative;
    z-index: 100;
}

#y-axis-label {
    transform: rotate(270deg) translateX(-50%);
    transform-origin: left bottom;
    font-size: 16px;
    font-weight: bold;
}

#x-axis-label {
    font-size: 16px;
    font-weight: bold;
    width: 50%;
    margin: 1em;
    padding-left: 5%;
    padding-right: 5%;
    display: inline-block;
}

.tick-label {
    position: relative;
    float: left;
    height: 200px;
    width: 30px;
}
.bottom-tick-label {
    position: relative;
    float: left;
    width: 30px;
}

#vertical-arrow-box {
    transform: translateX(-50%);
    display: inline-block;
    height: 100%;
    position: relative;
    float: left;
}

